<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="a.alt.z.werecord">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="a.alt.z.werecord.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TMDB"
        android:usesCleartextTraffic="true">
        <activity android:name="a.alt.z.werecord.ui.launcher.LauncherActivity">

        </activity>
        <activity android:name="a.alt.z.werecord.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="a.alt.z.werecord.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="a.alt.z.werecord.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="a.alt.z.werecord.initializer.ThreeTenInitializer"
                android:value="androidx.startup"/>
        </provider>
    </application>

</manifest>